#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 10000;
    background-color: #333;
    // overflow-y: scroll;
}

#main {
    max-width: 2000px;
    min-height: calc(100vh - 67px);
    margin: 0 auto;
    padding-left: 260px;
    background-color: #111;
}

#footer {
    text-align: center;
    background-color: #111;
    padding: 20px 20px 20px 260px;
}

#Lucy,
#Qwer,
#Bgsmsyl,
#CNBLUE,
#ALEPH,
#Boymoon,
#TOUCHED,
#Onewe,
#IndieBand,
#RecommendedMusic,
#Recommended {
    padding: 40px;

    h2 {
        margin-bottom: 0.6rem 0;
        font-size: 1.25rem;
    }
}

@media (max-width: 960px) {
    #header {
        left: -260px;
    }

    #main {
        padding-left: 0;
        margin-top: 80px;
    }

    #Lucy,
    #Qwer,
    #Bgsmsyl,
    #CNBLUE,
    #ALEPH,
    #Boymoon,
    #TOUCHED,
    #Onewe,
    #IndieBand,
    #RecommendedMusic,
    #Recommended {
        padding: 20px;

        h2 {
            margin-bottom: 0.6rem;
        }
    }
}